*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    text-align: center;
    background-color: #616161;
    position: sticky;
    top: 0;
}
.icono-pokedex{
    padding: 0 0 0 30px;
    height: 45px;
}


h1{
    padding: 0 0 0 15px;
    color: #313131;
    font-size: 20px;
}

img{
    height: 150px;
    /* background-color: #F2F2F2; */
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url('./assets/img/background.png');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center; 
}

section{
    
    display: flex;
    align-items: center;
    width: 100%;
    
}

ul{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 50px;
    align-items: center;
    width: 100vh;
    /* height: calc(200px*2);
    overflow-y5: scroll; */
    
}

.numero-id{
    color: #919191;
}

h5{
    color: #313131;
}


li:hover .pokemon{
    transform: scale(1.2);
    transition: ease 1s;
}

li{
    padding-top: 20px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    
    background-color: #F2F2F2;
    opacity: 0.2;
}

div{
    display: flex;
    flex-wrap: wrap;
    width: 80px;
    align-items: flex-start;
    margin-top: 15px;
}


li:hover{
    opacity: 1;
}


/* Configuración de estilos para las etiquetas de tipo de Pokemon y su respectivo icono */
.icono-tipo{
    width: 15px;
    height: 15px;
}

.tipo-planta, .tipo-veneno, .tipo-acero, .tipo-agua, .tipo-bicho, .tipo-dragon, .tipo-electrico, .tipo-fantasma, .tipo-fuego, .tipo-hada, 
.tipo-hielo, .tipo-lucha, .tipo-normal, .tipo-psiquico, .tipo-roca, .tipo-siniestro, .tipo-tierra, .tipo-volador{
    color: #ffffff;
    margin-top: 20px;
  
}

.tipo-planta{
    background-color: #3FA129;
    border-radius: 2px;

}

.tipo-veneno{
    background-color: #8F41CB;
    border-radius: 2px;
}

.tipo-acero{

}

.tipo-agua{
    background-color: #2980EF;
    border-radius: 2px;
}

.tipo-bicho{
    background-color: #91A119;
    border: 2px;
}

.tipo-dragon{

}

.tipo-electrico{

}

.tipo-fantasma{

}

.tipo-fuego{
    background-color: #E62829;
    border: 2px;
}

.tipo-hada{
    background-color: #EF71EF;
    border-radius: 2px;
}

.tipo-hielo{

}

.tipo-lucha{

}

.tipo-normal{
    background-color: #9FA19F;
    border-radius: 2px;
}

.tipo-psiquico{

}

.tipo-roca{

}

.tipo-siniestro{

}

.tipo-tierra{
    background-color: #915121;
    border-radius: 2px;
}

.tipo-volador{
    background-color: #81B9EF;
    border-radius: 2px;
}

@media screen and (max-width: 500px){


    

    ul{
        flex-direction: column;
        width: calc(200px*3);
        justify-content: center;
        align-items: center;
    }



    

}